<!-- MAIN MENU -->
<ul class="menu">
	<li class="menu-blue">
		<a href="#/companies">
			<img src="src/styling/images/svg-contract.svg">
			<p>{{language.main.menu.contract}}</p>
		</a>
	</li>
	<li class="menu-blue">
		<a href="#/mailing">
			<img src="src/styling/images/svg-mail.svg">
			<p>{{language.main.menu.mailing}}</p>
		</a>
	</li>
	<li class="menu-black">
		<a ng-click="logout()">
			<img src="src/styling/images/svg-power.svg">
			<p>{{language.main.menu.logout}}</p>
		</a>
	</li>
</ul>
<!-- main menu END -->