<div class="container-dynamic-content">

	<div ng-include="'src/styling/templates/mailing/_mailing-form-search.html'"></div>
	<div ng-include="'src/styling/templates/mailing/_mailing-form-forwarding.html'"></div>
	<div ng-include="'src/styling/templates/mailing/_mailing-form-edit.html'"></div>
	<div ng-include="'src/styling/templates/mailing/_mailing-form-addnew.html'"></div>

	<div ng-include="'src/styling/templates/mailing/_mailing-data.html'"></div>

	<div ng-include="'src/styling/templates/mailing/_mailing-submenu.html'"></div>

</div>

<div ng-include="'src/styling/templates/companies/_companies-overlay-loadingscreen.html'"></div>