<div class="container-dynamic-content">

	<div ng-include="'src/styling/templates/companies/_companies-form-search.html'"></div>
	<div ng-include="'src/styling/templates/companies/_companies-form-email.html'"></div>
	<div ng-include="'src/styling/templates/companies/_companies-form-details.html'"></div>
	<div ng-include="'src/styling/templates/companies/_companies-form-extend.html'"></div>

	<div ng-include="'src/styling/templates/companies/_companies-data.html'"></div>

	<div ng-include="'src/styling/templates/companies/_companies-submenu.html'"></div>

</div>

<div ng-include="'src/styling/templates/companies/_companies-overlay-details.html'"></div>
<div ng-include="'src/styling/templates/companies/_companies-overlay-extend.html'"></div>
<div ng-include="'src/styling/templates/companies/_companies-overlay-addnew.html'"></div>
<div ng-include="'src/styling/templates/companies/_companies-overlay-loadingscreen.html'"></div>